.Content{
    width: 100%;
    margin-bottom: 30px;
    padding-left: 200px;
    padding-right: 150px;
}

.Category{
    display: inline-block;
    margin: 10px;
    border: 0px solid #eeeeee;
    box-shadow: 0 0px 1px #ccc;
    width: 200px;
    padding: 0px; 
    /* border: 2px solid black; */
}
.Category img{
    width: 200px;
    height: 100px;
    margin: 0px;
    padding-top: 5px;
    border: 1px black;
    box-shadow: 0 0px 1px #ccc;
}
.Category h1,p{
    padding-left: 5px;
}
.Category .title{
    margin-top: 10px;
}

.Category h1{
    font-size: 20px;
}